.footer {
    width: 100vw;
    height: 465px;
    background-color: $greyish;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    bottom: 0;

    @media (min-width: 768px) {
        height: 240px;
        flex-direction: row;
        justify-content: center;
        gap: 180px;
    }
    

    &__products {
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        margin-top: 65px;

        @media (min-width:768px) {
            order: 1;
            margin-top: 57px;
        }

        & a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
        }
    }


    &__socialMedia {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        @media (min-width:768px) {
            order: 2;
            
        }
       
       

        & a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
            font-family: $mainFont;
            text-transform: uppercase;
            text-align: center;
            line-height: 30px;
        }
        
    }

    &__copy {
        text-align: center;
        margin-bottom: 36px;


        & p {
            font-family: $mainFont;
            font-size: 1.4rem;
            color: white;
        }
    
    }


}