.footer {
    width: 100vw;
    height: 465px;
    background-color: $greyish;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    bottom: 0;

    @media (min-width: 768px) {
        height: 240px;
        flex-direction: row;
        justify-content: center;
        gap: 180px;
        align-items: first baseline;
    }


    &__products {
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        margin-top: 65px;

        @media (min-width:768px) {
            order: 1;
            margin-top: 40px;
            text-align: left;  
        }

        @media (min-width:1200px){
            margin-top: 50px;
        }

        &--item {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
        }
    }


    &__socialMedia {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width:768px) {
            order: 2;
            text-align: left;
        }

        &--item {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
            font-family: $mainFont;
            text-transform: uppercase;
            line-height: 30px;
        }
        
    }

    &__copy {
        text-align: center;
        margin-bottom: 36px;

        @media (min-width: 678px) {
            text-align: left;
        }


        & p {
            font-family: $mainFont;
            font-size: 1.4rem;
            color: white;
        }
    }
}