.burgerHeader {
    width: 34px;
    height: 34px;
    background-color: $color-orange;
    display: flex;
    position: fixed;

    &__icon {
        margin: auto;
    }

    @media (min-width: 768px){
        width: 41px;
        height: 41px;
    }

    @media (min-width: 1200px){
        width: 45px;
        height: 45px;
    }
    
    
  
}