.section1 {
    margin-left: 13px;

    @media (min-width: 768px) {
        margin-left: 37px;
        margin-right: 39px;
    }

    @media (min-width: 1200px) {
        margin-left: 275px;
        margin-right: 136px;
    }
   

    &__h3 {
        font-size: 1.4rem;
        color: $color-orange;
        font-family: $mainFont;
        font-weight: 300;
        line-height: 30px;
        margin-top: 34px;

        @media (min-width: 768px) {
            font-size: 1.5rem;
        } 

        @media (min-width: 1200px){
            font-size: 1.6rem;
        }
    }

    &__h2 {
        font-size: 3rem;
        color: black;
        font-family: $mainFont;
        line-height: 30px;

        @media (min-width: 768px) {
            font-size: 3.2rem;
        }

        @media (min-width: 1200px){
            line-height: 45px;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 30px;
        font-family: $mainFont;
        margin-top: 11px;
        color: $greyish;

        @media (min-width: 1200px){
            font-size: 2rem;
        }
        
    }

    &__button {
    width: 160px;
    height: 45px;
    background-color: white;
    border: solid 2px $color-orange;
    border-radius: 30px;
    margin-top: 13px; 

    &--text {
        color: $color-orange;
        font-family: $mainFont;
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
        line-height: 38px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 67px;
        margin-top: 25px;
    }
} 
}
