<footer class="footer">
  <div class="footer__ico">
    <img
      class="footer__ico--arrow"
      src="/images/ico-arrow.svg"
      alt="go to the top"
    />
  </div>
  <div class="footer__copy">
    <p>2023</p>
    <p>we run</p>
  </div>

  <ul class="footer__products">
    <li class="footer__products--items"><a href=""></a>Zapatillas</li>
    <li class="footer__products--items"><a href=""></a>Zapatillas</li>
    <li class="footer__products--items"><a href=""></a>Zapatillas</li>
    <li class="footer__products--items"><a href=""></a>Zapatillas</li>
    <li class="footer__products--items"><a href=""></a>Zapatillas</li>
  </ul>
   
  </div>

  <div class="footer__socialmedia">
    <a href="">twitter</a>
    <a href="">instagram</a>
    <a href="">youtube</a>
  </div>
</footer>
