<footer class="footer">
    <nav class="footer__products">
        <a href="https://adalab.es/" target="_blank">zapatillas</a>
        <a href="https://adalab.es/" target="_blank">ropa</a>
        <a href="https://adalab.es/" target="_blank">niño/a</a>
        <a href="https://adalab.es/" target="_blank">destacados</a>
        <a href="https://adalab.es/" target="_blank">tips</a>
    </nav>


    <nav class="footer__socialMedia">
        <a href="https://adalab.es/" target="_blank">twitter</a>
        <a href="https://adalab.es/" target="_blank">instagram</a>
        <a href="https://adalab.es/" target="_blank">youtube</a>
    </nav>

    <div class="footer__copy">
        <p>2023</p>
        <p>we <i class="fa-solid fa-heart" style="color: #f26014;"></i> run</p>
    </div>
</footer>