<div class="section2__title">
<h3>Año nuevo, movimientos nuevos</h2>
</div>
<section class="article">
  <load src="/partials/articlesSection2.html" title="Entrenamientos" text="Sesiones de running y entrenamientos" />
</section>
<section class="article">
  <load src="/partials/articlesSection2.html" title="Cualquier nivel" text="Entrenamientos para cada nivel" />
</section>
<section class="article">
  <load src="/partials/articlesSection2.html" title="Exclusividad" text="Productos para miembros premium" />
</section>
  <div class="section2__button">
    <p class="section2__button--text">Empezar ahora</p>
</div>
</section>